<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
    <h1>Count!</h1>
    Visited <%= count %> times
    <br><br>
    <a href="/reset">Click me to reset.</a>
    <br><br>
    <a href="add2">Click me to add 2.</a>
</body>
</html>