<h3>Register a restaurant</h3>

<form>
    <!-- <p>Restaurant name:</p> -->
    <!-- <input class="form-control col-sm-5" type="text" name="restaurantname" [(ngModel)]="restaurant.restaurantname" minlength="3"
        required #name="ngModel"> -->
    <label for="restaurant.restaurantname">Name: </label>
    <input type="text" name="makeRestaurant.restaurantname" [(ngModel)]="makeRestaurant.restaurantname" required minlength="3"
        #name="ngModel">

    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && nameError">Restaurant name must contain at least 3 chars.</div>
    <br>
    <!-- <p>Cusine:</p>
    <input type="text" name="cusine"> -->

    <label for="restaurant.cuisine">Cuisine: </label>
    <input 
    type="text" name="makeRestaurant.cuisine" 
    [(ngModel)]="makeRestaurant.cuisine" 
    required
    minlength="3"
    #cuisine="ngModel"
    >


    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && cuisineError">Cusine must contain at least 3 chars.
    </div>
    <br>
    <input class="btn btn-success btn-sm" (click)="createThing()" type="submit" value="Register" />
    &nbsp;&nbsp;&nbsp;
    <a href="/restaurants" class="btn btn-danger btn-sm">Cancel</a>
</form>