<div class="row">
    <button class="btn btn-primary btn-sm" [routerLink]="['/new']">Add new product</button>
</div>
<div class="row">
    <table class="table-bordered table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Actions</th>
        </thead>
        <tr *ngFor="let thing of allRestaurants">
            <td>{{thing._id}}</td>
            <td>{{thing.name}}</td>
            <td>{{thing.quantity}}</td>
            <td>{{thing.price}}</td>
            <td>
                <button class="btn btn-info btn-sm"
                    [routerLink]="['/restaurants' , thing._id, 'edit']">Edit</button>&nbsp;&nbsp;
                <button class="btn btn-success btn-sm" [routerLink]="['/restaurants', thing._id]">Details</button>
            </td>
            <td>
            </td>
        </tr>
    </table>
    
</div>