<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
    <h2></h2><br>
    <div class="row">
        <div class="col s8">
            <h5><u>Submitted Information</u></h5>
        </div>
    </div>
    <div class="row">
        <div class="col s2">Name:</div>
        <div class="col s2"><%= es_name %></div>
    </div>
    <div class="row">
        <div class="col s2">Dojo location:</div>
        <div class="col s2"><%= es_loc %></div>
    </div>
    <div class="row">
        <div class="col s2">Favorite Language:</div>
        <div class="col s2"><%= es_lang %></div>
    </div>
    <div class="row">
        <div class="col s2">Comment:</div>
        <div class="col s2"><%= es_comment %></div>
    </div>


    
</body>

</html>