<div class="row">
    <button class="btn btn-primary btn-sm" [routerLink]="['/new']">New restaurant</button>
</div>
<div class="row">
    <table class="table-bordered table-striped">
        <thead>
            <th>Restaurant</th>
            <th>Cusine</th>
            <th>Actions available</th>
        </thead>
        <tr *ngFor="let thing of allRestaurants">
            <td>{{thing.restaurantname}}</td>
            <td>{{thing.cuisine}}</td>
            <td>
                <button class="btn btn-success btn-sm" [routerLink]="['/review', thing._id]">Read reviews</button>&nbsp;&nbsp;
                <button class="btn btn-info btn-sm" [routerLink]="['/edit' , thing._id]">Update</button>&nbsp;&nbsp;
                <button class="btn btn-danger btn-sm" (click) = "deleteThisRestaurant(thing._id)">Delete</button>
            </td>
        </tr>
    </table>
</div>