<h2>Reviews for {{showRestaurantReviews.restaurantname}}</h2>

<div class="row">
        <button class="btn btn-primary btn-sm" [routerLink]="['/restaurants', showRestaurantReviews._id, 'review']">New review</button>
    </div>
    <table class="table-bordered table-striped">
            <thead>
                <th>Customer</th>
                <th>Stars</th>
                <th>Description</th>
            </thead>
            <tr *ngFor="let r of showRestaurantReviews.reviews; let i = index">
                    <td>{{r.name}}</td>
                    <td>{{r.rating}}</td>
                    <td>{{r.review}}</td>
                </tr>
            </table>
<a href="/restaurants" class="btn btn-danger btn-sm">Home</a>