<h3>Update a Product</h3>

<form>
    <!-- <p>Restaurant name:</p> -->
    <!-- <input class="form-control col-sm-5" type="text" name="restaurantname" [(ngModel)]="restaurant.restaurantname" minlength="3"
            required #name="ngModel"> -->
    <label for="restaurant.name">Name: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="restaurantToEdit.name" [(ngModel)]="restaurantToEdit.name" required
        minlength="3" #name="ngModel" value="{{restaurantToEdit.name}}">

    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && nameError">Product name must contain at least 3 chars.</div>


    <label for="restaurant.quantity">Quantity: </label>&nbsp;&nbsp;
    <input type="number" name="restaurantToEdit.quantity" [(ngModel)]="restaurantToEdit.quantity" required min="0"
        #quantity="ngModel">
    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && quantityError">Product quantity must be greater than or equal to zero.
    </div>

    <label for="restaurant.price">Price: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="number" name="restaurantToEdit.price" [(ngModel)]="restaurantToEdit.price" required min="0"
        #price="ngModel">

    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && priceError">Price must be greater than or equal to zero.
    </div>
    <br>
    <input class="btn btn-success btn-sm" (click)="editThisRestaurant()" type="submit" value="Update" />
    &nbsp;&nbsp;&nbsp;
    <a href="/restaurants" class="btn btn-danger btn-sm">Cancel</a>
</form>