<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>routes</title>
</head>

<body>
  <form action="/tasks" method="GET">
    <input type="submit" value="all">
  </form>
  <br>
  <button (click)="onButtonClick()">Click me to get all tasks!</button> <br><br>
  <table *ngIf="content!=nul">
    <tr>
      <th>Title</th>
      <th>Get details</th>
    </tr>

    <tr *ngFor="let c of content">
      <td>{{c.title}}</td>
      <td><button (click)="onButtonClickParams(c._id)">Click me for details!</button></td>
    </tr>
  </table>
  <br><br><br><hr>

  <table *ngIf="details!=nul">
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th>Completed</th>
        <th>Update</th>
        <th>Created</th>
      </tr>
  
      <tr *ngIf="details!=nul">
        <td>{{details.title}}</td><td>{{details.description}}</td><td>{{details.completed}}</td><td>{{details.updatedAt}}</td><td>{{details.createdAt}}</td>
      </tr>
    </table>
</body>

</html>
<router-outlet></router-outlet>