<p>Edit a restaurant</p>

<form>
        <!-- <p>Restaurant name:</p> -->
        <!-- <input class="form-control col-sm-5" type="text" name="restaurantname" [(ngModel)]="restaurant.restaurantname" minlength="3"
            required #name="ngModel"> -->
        <label for="restaurant.restaurantname">Name: </label>
        <input type="text" name="restaurantToEdit.restaurantname" [(ngModel)]="restaurantToEdit.restaurantname" required minlength="3"
            #name="ngModel"
            value="{{restaurantToEdit.restaurantname}}"
            >
    
        <br>
        <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && nameError">Restaurant name must contain at least 3 chars.</div>
        <br>
        <!-- <p>Cusine:</p>
        <input type="text" name="cusine"> -->
    
        <label for="restaurant.cuisine">Cuisine: </label>
        <input 
        type="text" name="restaurantToEdit.cuisine" 
        [(ngModel)]="restaurantToEdit.cuisine" 
        required
        minlength="3"
        #cuisine="ngModel"
        >
    
    
        <br>
        <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && cuisineError">Cusine must contain at least 3 chars.
        </div>
        <br>
        <input class="btn btn-success btn-sm" (click)="editThisRestaurant()" type="submit" value="Edit" />
        &nbsp;&nbsp;&nbsp;
        <a href="/restaurants" class="btn btn-danger btn-sm">Cancel</a>
    </form>