<h3>New Product</h3>

<form>
    <!-- <p>Restaurant name:</p> -->
    <!-- <input class="form-control col-sm-5" type="text" name="restaurantname" [(ngModel)]="restaurant.restaurantname" minlength="3"
        required #name="ngModel"> -->
    <label for="restaurant.name">Name: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="makeRestaurant.name" [(ngModel)]="makeRestaurant.name" required minlength="3"
        #name="ngModel">
    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && nameError">Product name must contain at least 3 chars.</div>
    <br>

    <label for="restaurant.quantity">Quantity: </label>&nbsp;
    <input 
    type="number" name="makeRestaurant.quantity" 
    [(ngModel)]="makeRestaurant.quantity" 
    required
    minlength="1"
    #quantity="ngModel"
    >
    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && quantityError">Product quantity must be greater than or equal to zero.
    </div>
    <br>

    <label for="restaurant.price">Price: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input 
    type="text" name="makeRestaurant.price" 
    [(ngModel)]="makeRestaurant.price" 
    required
    minlength="1"
    
    #price="ngModel"
    >
    <br>
    <div class="col-sm-6 offset-2 text-danger" *ngIf="submitted && priceError">Price must be greater than or equal to zero.
    </div>
    <br>

    <input class="btn btn-success btn-sm" (click)="createThing()" type="submit" value="Create" />
    &nbsp;&nbsp;&nbsp;
    <a href="/restaurants" class="btn btn-danger btn-sm">Cancel</a>
</form>