<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome quotes</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
        <div class="container">

                <div class="row">
                        <div class="col s8">
                            <h2>Here are the awesome quotes!</h2>
                        </div>
                    </div><br>
                    <% for (var q in quotes_array) { %>
                        <b>"<%= quotes_array[q].quote %>"</b>
                        <span style="color: blue"><p>-<%= quotes_array[q].name %> at <%=quotes_array[q].updatedAt%></p></span>
                        <hr>
                    <% } %>
        </div>
</body>
</html>